@import url('https://fonts.googleapis.com/css?family=Droid+Sans');
html,
body,
{
    padding: 0;
    margin: 0;
    position: relative;
}

ul.drop-down-menu li:hover>ul {
    /* 滑鼠滑入展開次選單*/
    display: block;
}

#main-navbar a:hover {
    background-color: rgba(0, 0, 0, .1);
}

.dropdown>a {
    font-size: 15px;
}

.item>a {
    display: none;
}

.item:hover>a {
    font-family: cursive;
    display: inline-block;
    filter: grayscale(0%);
    transition: all 1.5s ease;
    text-decoration: none;
    font-size: 40px;
    font-weight: 700;
    color: gold;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.7);
    text-align: middle;
    font-style: italic;
}

[id^="pic"] {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    transition: all .5s ease;
    text-align: center;
    line-height: 300px;
    border-radius: 10px;
}

[id^="pic"]:hover {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0%);
    transition: all .5s ease;
    text-align: center;
    line-height: 300px;
}

#pic1 {
    background-image: url('../img/13403973_288014818209891_4315756102874464090_o.jpg');
}

#pic2 {
    background-image: url('../img/13422298_288025141542192_2396904436628289225_o.jpg');
}

#pic3 {
    background-image: url('../img/13411904_288094608201912_5647933860424844837_o.jpg');
}

.last {
    content: "";
    width: 100%;
    height: 100px;
    background: #999999;
    /*設定定位*/
    bottom: 0;
    left: 0;
    /*處理頁面覆蓋 數字越大越在上層*/
    z-index: 1;
    margin-top: 50px;
}

.row: {
    margin-left: 50%;
}

footer {
    padding: 10px 50px;
}

header.jumbotron {
    background-color: $primary;
    height: 400px;
    background-image: url(../img/13416839_288376978173675_4593582684586995870_o.jpg);
    background-size: cover;
}

header.jumbotron>h1 {
    color: white;
}

.title {
    font-family: fantasy;
    font-weight: bold;
    font-family: 'glyphter icon';
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.7);
    text-align: right;
    font-style: italic;
}

#ContactUsSection {
    margin-top: 20px;
    padding-top: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    padding-bottom: 30px;
}

.section-title {
    text-align: center;
    font-weight: 500;
}


/* note footer */

footer * {
    color: white;
}

.footer-bar {
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: #575a5a;
}

.footer-bar p {
    line-height: 50px;
    margin: 0;
    font-size: 10px;
    letter-spacing: 2px;
}
